<main class="container py-3 d-flex flex-column gap-3">
    <span>
        <a href="/home" class="text-decoration-none ">Home</a> &gt; 
        <a href="/home/courses" class="text-decoration-none ">Courses</a></span>
    <div class="d-flex gap-3">
        <a href="/home/courses"><button class="btn btn-outline-primary px-5">View Courses</button></a>
        <a href="/home/courses/upload"><button class="btn btn-outline-primary px-5">Upload Courses</button></a>
        <a href="/home/courses"><button class="btn btn-outline-primary px-5">Update Courses</button></a>
    </div>
</main>